{
  "openapi": "3.0.0",
  "info": {
    "title": "Beverage E-commerce API",
    "version": "1.0.0",
    "description": "API for managing beverages, labels, ingredients, container types, and unit measures in a beverage e-commerce platform."
  },
  "servers": [
    {
      "url": "https://api.beverage-ecommerce.com/v2"
    }
  ],
  "security": [
    {
      "BearerAuth": [
        "read:beverages",
        "write:beverages",
        "read:brands",
        "write:brands",
        "read:labels",
        "write:labels",
        "read:ingredients",
        "write:ingredients",
        "read:container-types",
        "write:container-types"
      ]
    }
  ],
  "tags": [
    {
      "name": "beverage",
      "description": "Operations related to beverages"
    },
    {
      "name": "label",
      "description": "Operations related to labels"
    },
    {
      "name": "brand",
      "description": "Operations related to brands"
    },
    {
      "name": "container-type",
      "description": "Operations related to container types"
    },
    {
      "name": "ingredient",
      "description": "Operations related to ingredients"
    }
  ],
  "paths": {
    "/beverages": {
      "get": {
        "tags": [
          "beverage"
        ],
        "summary": "Retrieve all beverages",
        "description": "Retrieves a list of all beverages.",
        "operationId": "getBeverages",
        "security": [
          {
            "BearerAuth": [
              "read:beverages"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 5,
              "maximum": 50
            },
            "description": "Number of items per page."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of beverages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "beverages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beverage"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaginationLinks"
                      }
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "No beverages found."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "beverage"
        ],
        "summary": "Create a new beverage",
        "description": "Creates a new beverage.",
        "operationId": "createBeverage",
        "security": [
          {
            "BearerAuth": [
              "write:beverages"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "brandId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "labelId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "containerTypeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ingredients": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "brandId",
                  "labelId",
                  "containerTypeId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beverage created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created beverage."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/beverages/{id}": {
      "get": {
        "tags": [
          "beverage"
        ],
        "summary": "Retrieve a beverage by ID",
        "description": "Retrieves details of a specific beverage.",
        "operationId": "getBeverageById",
        "security": [
          {
            "BearerAuth": [
              "read:beverages"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          }
        ],
        "responses": {
          "200": {
            "description": "Beverage details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beverage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "beverage"
        ],
        "summary": "Update a beverage",
        "description": "Create or Replace an existing beverage.",
        "operationId": "replaceBeverage",
        "security": [
          {
            "BearerAuth": [
              "write:beverages",
              "read:beverages"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "brandId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "labelId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "containerTypeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ingredients": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "required": [
                  "brandId",
                  "labelId",
                  "containerTypeId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beverage updated successfully."
          },
          "201": {
            "description": "Beverage created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created beverage."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "beverage"
        ],
        "summary": "Partially update a beverage",
        "description": "Update an existing beverage.",
        "operationId": "updateBeverage",
        "security": [
          {
            "BearerAuth": [
              "write:beverages",
              "read:beverages"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "brandId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "labelId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "containerTypeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "ingredients": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beverage updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "beverage"
        ],
        "summary": "Delete a beverage",
        "description": "Deletes a beverage.",
        "operationId": "deleteBeverage",
        "security": [
          {
            "BearerAuth": [
              "write:beverages",
              "read:beverages"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          }
        ],
        "responses": {
          "204": {
            "description": "Beverage deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/beverages/{id}/labels": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true,
          "description": "Unique identifier for the beverages."
        }
      ],
      "get": {
        "tags": [
          "label"
        ],
        "summary": "Retrieve all labels",
        "description": "Retrieves a list of all labels.",
        "operationId": "getLabels",
        "security": [
          {
            "BearerAuth": [
              "read:labels"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A list of labels.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "label"
        ],
        "summary": "Create a new label",
        "description": "Creates a new label.",
        "operationId": "createLabel",
        "security": [
          {
            "BearerAuth": [
              "write:labels",
              "read:labels"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Label created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created label."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/beverages/{beverageId}/labels/{id}": {
      "get": {
        "tags": [
          "label"
        ],
        "summary": "Retrieve a label by ID and beverage ID",
        "description": "Retrieves details of a specific label.",
        "operationId": "getLabelById",
        "security": [
          {
            "BearerAuth": [
              "read:labels"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "beverageId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the label."
          }
        ],
        "responses": {
          "200": {
            "description": "Label details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "label"
        ],
        "summary": "Update a label",
        "description": "Create or Replace an existing label.",
        "operationId": "replaceLabel",
        "security": [
          {
            "BearerAuth": [
              "write:labels",
              "read:labels"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "beverageId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the label."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "label"
        ],
        "summary": "Partially update a label",
        "description": "Update existing label.",
        "operationId": "updateLabel",
        "security": [
          {
            "BearerAuth": [
              "write:labels",
              "read:labels"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "beverageId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the label."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "label"
        ],
        "summary": "Delete a label",
        "description": "Deletes a label.",
        "operationId": "deleteLabel",
        "security": [
          {
            "BearerAuth": [
              "write:labels",
              "read:labels"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "beverageId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the beverage."
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the label."
          }
        ],
        "responses": {
          "204": {
            "description": "Label deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "brand"
        ],
        "summary": "Retrieve all brand",
        "description": "Retrieves a list of all brands.",
        "operationId": "getBrands",
        "security": [
          {
            "BearerAuth": [
              "read:brands"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Number of items per page."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of brands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Brand"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "brand"
        ],
        "summary": "Create a new brand",
        "description": "Creates a new brand.",
        "operationId": "createBrand",
        "security": [
          {
            "BearerAuth": [
              "write:brands",
              "read:brands"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Brand created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created brand."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/brands/{id}": {
      "get": {
        "tags": [
          "brand"
        ],
        "summary": "Retrieve a brand by ID",
        "description": "Retrieves details of a specific brand.",
        "operationId": "getBrandById",
        "security": [
          {
            "BearerAuth": [
              "read:brands"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the brand."
          }
        ],
        "responses": {
          "200": {
            "description": "Brand details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "brand"
        ],
        "summary": "Update a brand",
        "description": "Create or replace an existing brand.",
        "operationId": "replaceBrand",
        "security": [
          {
            "BearerAuth": [
              "write:brands",
              "read:brands"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand updated successfully."
          },
          "201": {
            "description": "Brand created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created brand."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "brand"
        ],
        "summary": "Partially update a brand",
        "description": "Update an existing brand.",
        "operationId": "updateBrand",
        "security": [
          {
            "BearerAuth": [
              "write:brands",
              "read:brands"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the brand."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brand updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "brand"
        ],
        "summary": "Delete a brand",
        "description": "Deletes a brand.",
        "operationId": "deleteBrand",
        "security": [
          {
            "BearerAuth": [
              "write:brands",
              "read:brands"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the brand."
          }
        ],
        "responses": {
          "204": {
            "description": "Brand deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/ingredients": {
      "get": {
        "tags": [
          "ingredient"
        ],
        "summary": "Retrieve all ingredients",
        "description": "Retrieves a list of all ingredients.",
        "operationId": "getIngredients",
        "security": [
          {
            "BearerAuth": [
              "read:ingredients"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ingredients.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ingredient"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "ingredient"
        ],
        "summary": "Create a new ingredient",
        "description": "Creates a new ingredient.",
        "operationId": "createIngredient",
        "security": [
          {
            "BearerAuth": [
              "write:ingredients",
              "read:ingredients"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "allergen_info": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ingredient created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created ingredient."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/ingredients/{id}": {
      "get": {
        "tags": [
          "ingredient"
        ],
        "summary": "Retrieve an ingredient by ID",
        "description": "Retrieves details of a specific ingredient.",
        "operationId": "getIngredientById",
        "security": [
          {
            "BearerAuth": [
              "read:ingredients"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the ingredient."
          }
        ],
        "responses": {
          "200": {
            "description": "Ingredient details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ingredient"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "ingredient"
        ],
        "summary": "Update an ingredient",
        "description": "Create or Replace an existing ingredient.",
        "operationId": "replaceIngredient",
        "security": [
          {
            "BearerAuth": [
              "write:ingredients",
              "read:ingredients"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the ingredient."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "allergen_info": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ingredient updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "ingredient"
        ],
        "summary": "Update an ingredient",
        "description": "Updates an existing ingredient.",
        "operationId": "updateIngredient",
        "security": [
          {
            "BearerAuth": [
              "write:ingredients",
              "read:ingredients"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the ingredient."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "allergen_info": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ingredient updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "ingredient"
        ],
        "summary": "Delete an ingredient",
        "description": "Deletes an ingredient.",
        "operationId": "deleteIngredient",
        "security": [
          {
            "BearerAuth": [
              "write:ingredients",
              "read:ingredients"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the ingredient."
          }
        ],
        "responses": {
          "204": {
            "description": "Ingredient deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/container-types": {
      "get": {
        "tags": [
          "container-type"
        ],
        "summary": "Retrieve all container types",
        "description": "Retrieves a list of all container types.",
        "operationId": "getContainerTypes",
        "security": [
          {
            "BearerAuth": [
              "read:container-types"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A list of container types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContainerType"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "container-type"
        ],
        "summary": "Create a new container type",
        "description": "Creates a new container type.",
        "operationId": "createContainerType",
        "security": [
          {
            "BearerAuth": [
              "write:container-types",
              "read:container-types"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "volume": {
                    "type": "number",
                    "format": "float"
                  }
                },
                "required": [
                  "type",
                  "volume"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Container type created successfully.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URL to the newly created container type."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/container-types/{id}": {
      "get": {
        "tags": [
          "container-type"
        ],
        "summary": "Retrieve a container type by ID",
        "description": "Retrieves details of a specific container type.",
        "operationId": "getContainerTypeById",
        "security": [
          {
            "BearerAuth": [
              "read:container-types"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the container type."
          }
        ],
        "responses": {
          "200": {
            "description": "Container type details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerType"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "container-type"
        ],
        "summary": "Update a container type",
        "description": "Create or replace a container type.",
        "operationId": "putContainerType",
        "security": [
          {
            "BearerAuth": [
              "write:container-types",
              "read:container-types"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the container type."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "volume": {
                    "type": "number",
                    "format": "float"
                  }
                },
                "required": [
                  "type",
                  "volume"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Container type updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "tags": [
          "container-type"
        ],
        "summary": "Update a container type",
        "description": "Updates an existing container type.",
        "operationId": "updateContainerType",
        "security": [
          {
            "BearerAuth": [
              "write:container-types",
              "read:container-types"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the container type."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "volume": {
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Container type updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "container-type"
        ],
        "summary": "Delete a container type",
        "description": "Deletes a container type.",
        "operationId": "deleteContainerType",
        "security": [
          {
            "BearerAuth": [
              "write:container-types",
              "read:container-types"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "Unique identifier for the container type."
          }
        ],
        "responses": {
          "204": {
            "description": "Container type deleted successfully."
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Beverage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the beverage."
          },
          "brandId": {
            "type": "string",
            "description": "ID of the brand associated with the beverage",
            "format": "uuid"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the beverage."
          },
          "labelId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the associated label."
          },
          "containerTypeId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the container type."
          },
          "ingredients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List of ingredient IDs."
          }
        },
        "required": [
          "id",
          "brandId",
          "labelId",
          "containerTypeId"
        ]
      },
      "Brand": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "description": "Unique identifier for the brand",
            "format": "uuid"
          },
          "brandName": {
            "type": "string",
            "description": "Name of the brand"
          },
          "brandDescription": {
            "type": "string",
            "description": "Description of the brand"
          }
        },
        "required": [
          "brandId",
          "brandName"
        ]
      },
      "Label": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the label."
          },
          "name": {
            "type": "string",
            "description": "Name of the label."
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the label."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Ingredient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the ingredient."
          },
          "name": {
            "type": "string",
            "description": "Name of the ingredient."
          },
          "allergenInfo": {
            "type": "string",
            "description": "Allergen information."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ContainerType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the container type."
          },
          "type": {
            "type": "string",
            "description": "Type of container (e.g., Bottle, Can)."
          },
          "volume": {
            "type": "integer",
            "description": "Volume in milliliters."
          }
        },
        "required": [
          "id",
          "type",
          "volume"
        ]
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relationship type",
            "enum": [
              "self",
              "next",
              "prev",
              "first",
              "last"
            ]
          },
          "href": {
            "type": "string",
            "description": "Hyperlink reference."
          }
        },
        "required": [
          "rel",
          "href"
        ]
      },
      "BeverageLinks": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relationship type",
            "enum": [
              "self",
              "labels",
              "ingredients",
              "containers"
            ]
          },
          "href": {
            "type": "string",
            "description": "Hyperlink reference."
          }
        },
        "required": [
          "rel",
          "href"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP status code."
              },
              "message": {
                "type": "string",
                "description": "Error message."
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Invalid request.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "Access forbidden.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}